{
  "printWidth": 120,
  "tabWidth": 4,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "proseWrap": "always",
  "overrides": [
    {
      "files": "*.mdx",
      "options": {
        "printWidth": 120,
        "proseWrap": "always",
        "embeddedLanguageFormatting": "auto"
      }
    }
  ]
} 