/* Dark mode colors. */
:root {
    --sl-color-accent-low: #2a221f;
    --sl-color-accent: #806257;
    --sl-color-accent-high: #d1c6c1;
    --sl-color-white: #ffffff;
    --sl-color-gray-1: #eceef2;
    --sl-color-gray-2: #c6c8ce;
    --sl-color-gray-3: #a0a4ae;
    --sl-color-gray-4: #545861;
    --sl-color-gray-5: #353841;
    --sl-color-gray-6: #24272f;
    --sl-color-black: #17181c;
}

/* Light mode colors. */
:root[data-theme='light'] {
    --sl-color-accent-low: #ddd5d1;
    --sl-color-accent: #64483d;
    --sl-color-accent-high: #3c2f2a;
    --sl-color-white: #17181c;
    --sl-color-gray-1: #24272f;
    --sl-color-gray-2: #353841;
    --sl-color-gray-3: #545861;
    --sl-color-gray-4: #888b96;
    --sl-color-gray-5: #c0c2c7;
    --sl-color-gray-6: #eceef2;
    --sl-color-gray-7: #f5f6f8;
    --sl-color-black: #ffffff;
}